body{
    background-color: lightblue;
}
#videoDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px; /* Increase the gap between video elements */
    margin: 20px auto; /* Set equal left and right margins */
    max-width: 900px; /* Limit the maximum width of the video grid */
  }
  /* #videoDiv video:hover{
    
    border: 1px solid #1A237E;
  } */
  
  /* Style the individual video elements */
  video {
    width: 100%;
    height: auto; /* Change height to auto to preserve aspect ratio */
    max-height: 100%; /* Limit height to prevent stretching */
    object-fit: cover;
    border-radius: 10px; /* Increase the border radius */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  /* Position the controls at the bottom of the window */
#controls {
  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex; /* Make the controls flex container */
    justify-content: center; /* Center the child elements horizontally */
    align-items: center; /* Center the child elements vertically */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5); /* Add a semi-transparent white background */
  }
  
  /* Style the hangup button */
  #hangup {
    cursor: pointer;
    margin-right: 20px; /* Add some space to the right of the button */
  }
  
  
  /* Style the icon images */
  .icon {
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  
  /* Style the icon colors */
  .icon-color {
    color: #555; /* Set the color of the icons */
    margin-right: 20px; /* Add some space to the right of the icons */
  }
  
  /* Set hover effect on icons */
  .icon:hover {
    cursor: pointer;
    opacity: 0.7; /* Decrease opacity when hovering over the icons */
  }